html,body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color:white;
	height: 100%;
	margin: 0;
	overflow: hidden;
	background-image: url("Res/bg.webp");
	background-repeat:no-repeat;
	background-size: cover;
}
.Hidden{
	display: none;
}
.Tl{
	height:fit-content;
	box-sizing: border-box;
	display: flex;
	margin: 9pt;
	padding: 0pt;
	align-items: center;
	text-decoration: none;
	font-size: 200%;
	white-space: nowrap;
	font-weight: 700;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width:fit-content;
}
.Link{
	text-decoration: none;
	color:#639bff;
	transition: 200ms;
}
.U{
	text-decoration: underline;
}
.Link:hover{
	text-decoration: underline;
	color:blueviolet;
}
.ExtLink{
	padding-right: 1em;
	background-position: right center;
	background-size: 0.857em;
	background-repeat: no-repeat;
	background-image: url("Res/ext-link.svg");
}
.LtLink:visited{
	text-decoration: none;
}
.TyrLink{
	padding-left: 1.2em;
	background-position: left center;
	background-size: 1em;
	background-repeat: no-repeat;
	background-image: url("Res/icon.png");
}
#ContentContainer{
	display: flex;
	overflow-y: scroll;
	top:0;
	width:100%;
	position: absolute;
	backdrop-filter: blur(1px);
	padding-top: 56.4pt;
	bottom:0;
	justify-content: center;
}
.Content-old{
	Padding: 10pt;
	width:100%;
	max-width:600pt;
}
.BlogPost{
	border-style: outset;
	padding: 10pt;
	display: grid;
	margin: 10pt;
}
#ErrorCode{
	font-family: monospace;
	font-size: 27pt;
	margin: 12px;
}
.Mono{
	font-family: monospace;
}
.Content{
	display:block;
	box-sizing: border-box;
	width:100%;
	max-width:600pt;
	padding:10pt;
	height:fit-content;
}
#BlogArea{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
	margin: 0;
	padding: 0;
}
nav{
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	z-index: 1;
	position: sticky;
	width: 100%;
	object-fit:scale-down;
	border-style: none;
	border-bottom-style: solid;
	
}
#SplitDisplay{
	display: grid;
	grid-template-columns: 40% 20% 40%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.Centre{
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.Button{
	border-style: outset;
	transition:50ms;
	transition:all 100ms;
	filter: brightness(100%);
}
.Button:hover{
	filter: brightness(140%);
	box-shadow: -0px 0px 10px 10px #2f528d40;
}
.Button:active{
	border-style: inset;
	filter: brightness(180%);
	box-shadow: -0px 0px 15px 15px #2f528d40;
}
.ci{
	font-family: monospace, 'Courier New', Courier;
	color: white;
	border-style: inset;
	text-decoration: none;
	text-align: center;
	margin:0;
	backdrop-filter: none;
}
.ndb{
	filter: saturate(60%) brightness(80%);
}
.adb{
	transition:10ms;
	transition:box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.adb:hover{
	text-decoration: underline;
	filter: brightness(200%);
	box-shadow: -0px 0px 10px 10px #15305e40;
}
.Calendar{
	font-size: 200%;
	display: grid;
	grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	aspect-ratio: 7/8;
	width: 400pt;
}
.FitContent{
	width: fit-content;
	height:fit-content;
}
.OverFlow{
	width:0;
	height:0;
	display:none;
}
input[type="text"]{
	border-bottom-style: solid !important;
	border-bottom-color: white !important;
	border-bottom-width: 5px;
	outline:none;
	transition: all 200ms;
}
input:hover{
	box-shadow: 0 0 6px 6px #2f528d20;
	filter: brightness(110%);
}
input[type="text"]:focus, input[type="checkbox"]:active{
	filter: brightness(140%);
	box-shadow: 0 0 10px 10px #2f528d40;
	outline:none;
}
.SettingsButton{
	font-weight: 1000;
}
@media only screen and (max-width: 980px){
	.OvrHd{
		display: none;
	}
	.OverFlow{
		margin:0;
		padding:0;
		display: flex;
		flex-flow: row;
		height: 100%;
		z-index: 1;
		width: fit-content;
		object-fit: scale-down;
		align-items: center;
	}
}
@media only screen and (max-width: 720px){
	#BlogArea{
		grid-template-columns: 100%;
	}
	#SplitDisplay{
		grid-template-columns: 100%;
	}
}