html,body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
	height: 100%;
	margin: 0;
	overflow-x: hidden;
	background-image: url("Res/bg.webp");
	background-repeat: no-repeat;
	background-size: cover;
	overflow-y: scroll;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	width: 100%;
}
.Hidden{
	display: none;
}
.Tl{
	height:fit-content;
	box-sizing: border-box;
	display: flex;
	margin: 9pt;
	padding: 0pt;
	align-items: center;
	text-decoration: none;
	font-size: 200%;
	white-space: nowrap;
	font-weight: 700;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	width:fit-content;
}
.Link{
	text-decoration: none;
	color:#639bff;
	transition: 200ms;
}
.U{
	text-decoration: underline;
}
.Link:hover{
	text-decoration: underline;
	color:blueviolet;
}
.ExtLink{
	padding-right: 1em;
	background-position: right center;
	background-size: 0.857em;
	background-repeat: no-repeat;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12"><title>external link</title><path fill="%23639bff" d="M6 1h5v5L8.86 3.85 4.7 8 4 7.3l4.15-4.16zM2 3h2v1H2v6h6V8h1v2a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1"/></svg>');
}
.LtLink:visited{
	text-decoration: none;
}
.TyrLink{
	padding-left: 1.2em;
	background-position: left center;
	background-size: 1em;
	background-repeat: no-repeat;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAAAXNSR0IArs4c6QAAAVBJREFUeJztmrENwkAMRRNEwRQwARNRIlqGoUWUTMQEMAVdqONIsSxf8pD8X5nA5efLdmLnuk4IUZneHjjfh4EQshaPSz+65w0l5F+QAbQAGhlAC6CRAbQAmq098H19Fr3g7rifPb/09S3lI0AG0AJoJr1AFttL2Hdvr9fwfm/PZykfATKAFkAzeQ+Isvb8oHVNKB8BMoAWQBOuAV7Ot36Xt+vZXiJbE8pHgAygBdC4+RLN+eftMLtmtBewnK7v0f+9+YK3XvkIkAG0AJrwt8FozkfXjz7HszWhfATIAFoATbgXiOb80lg90flE+QiQAbQAGvfbYOv+uzXZ+UT5CJABtAAaN39b99/ZXqB1r1I+AmQALYAm/AzP1oTs/gBLdj5RPgJkAC2AJj0PiNaELNmct5SPABlAC6BJ7xHyaoIlun+gdc5bykeADKAFCCEEyQ8lpYsmnaLllQAAAABJRU5ErkJggg==');
}
.Content-old{
	Padding: 10pt;
	width:100%;
	max-width:600pt;
}
.BlogPost{
	border-style: outset;
	padding: 10pt;
	display: grid;
	margin: 10pt;
}
#ErrorCode{
	font-family: monospace;
	font-size: 27pt;
	margin: 12px;
}
.Mono{
	font-family: monospace;
}
#Content{
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 600pt;
	padding: 10pt;
	padding-top: 10pt;
	height: fit-content;
	padding-top: 77.2pt;
}
#BlogArea{
	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
	margin: 0;
	padding: 0;
}
nav{
	display: flex;
	flex-flow: row;
	margin: 0;
	padding: 0;
	z-index: 1;
	position: absolute;
	width: 100%;
	object-fit:scale-down;
	border-style: none;
	border-bottom-style: solid;
	
}
#SplitDisplay{
	display: grid;
	grid-template-columns: 40% 20% 40%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.Centre{
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.Button{
	border-style: outset;
	transition:50ms;
	transition:all 100ms;
	filter: brightness(100%);
}
.Button:hover{
	filter: brightness(140%);
	box-shadow: -0px 0px 10px 10px #2f528d40;
}
.Button:active{
	border-style: inset;
	filter: brightness(180%);
	box-shadow: -0px 0px 15px 15px #2f528d40;
}
.ci{
	font-family: monospace, 'Courier New', Courier;
	color: white;
	border-style: inset;
	text-decoration: none;
	text-align: center;
	margin:0;
	backdrop-filter: none;
}
.ndb{
	filter: saturate(60%) brightness(80%);
}
.adb{
	transition:10ms;
	transition:box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.adb:hover{
	text-decoration: underline;
	filter: brightness(200%);
	box-shadow: -0px 0px 10px 10px #15305e40;
}
.Calendar{
	font-size: 200%;
	display: grid;
	grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
	grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
	aspect-ratio: 7/8;
	width: 400pt;
}
.FitContent{
	width: fit-content;
	height:fit-content;
}
.OverFlow{
	width:0;
	height:0;
	display:none;
}
input[type="text"]{
	border-bottom-style: solid !important;
	border-bottom-color: white !important;
	border-bottom-width: 5px;
	outline:none;
	transition: all 200ms;
}
input:hover{
	box-shadow: 0 0 6px 6px #2f528d20;
	filter: brightness(110%);
}
input[type="text"]:focus, input[type="checkbox"]:active{
	filter: brightness(140%);
	box-shadow: 0 0 10px 10px #2f528d40;
	outline:none;
}
.SettingsButton{
	font-weight: 1000;
}
@media only screen and (max-width: 1090px){
	.OvrHd{
		display: none;
	}
	.OverFlow{
		margin:0;
		padding:0;
		display: flex;
		flex-flow: row;
		height: 100%;
		z-index: 1;
		width: fit-content;
		object-fit: scale-down;
		align-items: center;
	}
}
a.JTC{
	display: block;
	width:0;
	overflow: hidden;
	margin-left: 0;
	margin-right:0;
}
a.JTC:focus{
	display:block;
	width:auto;
	overflow: hidden;
	margin:9pt;
}
@media only screen and (max-width: 720px){
	#BlogArea{
		grid-template-columns: 100%;
	}
	#SplitDisplay{
		grid-template-columns: 100%;
	}
}
